{{ define "title" }}<title>Arkivi | account</title>{{ end }}
{{ define "content" }}
  <div class="account-info"><span>Username: </span><strong id="username"></strong></div>
  <div class="account-info"><span>Created at: </span><strong id="created-at"></strong></div>
  <div class="account-info"><span># Images: </span><strong id="num-images"></strong></div>
  <div class="account-info"><span id="message"></span></div>
  <form id="settings">
    <label>Default Camera: <input id="camera" type="text" name="camera"></label>
    <label>Default Film: <input id="film" type="text" name="film"></label>
    <label>Publish uploaded photos automatically:<br><input id="public" type="checkbox" name="public"></label>
    <div id="admin-settings">
      <label>Allow account registration (recommended off):<br><input id="registration" type="checkbox" name="registration"></label>
    </div>
    <input type="submit" value="submit">
  </form>
{{ end }}
{{ define "scripts" }}
  <script src="/static/js/moment.min.js"></script>
  <script src="/static/js/utils.js"></script>
  <script src="/static/js/auth.js"></script>
  <script src="/static/js/account.js"></script>
{{ end }}