{{ define "title" }}<title>Arkivi | account</title>{{ end }}
{{ define "content" }}
  <div class="account-username"><span></span><div>
  <form id="settings">
    <label>Default Camera: <input type="text" name="camera"></label>
    <label>Default Film: <input type="text" name="film"></label>
    <label>Publish uploaded photos automatically:<br><input type="checkbox" name="public"></label>
    {{ if .admin }}
      <div id="admin-settings">
        <label>Allow account registration (recommended off):<br><input type="checkbox" name="public"></label>
      </div>
    {{ end }}
    <input type="submit" value="submit">
  </form>
{{ end }}
{{ define "scripts" }}
  <script src="/static/js/utils.js"></script>
  <script src="/static/js/account.js"></script>
{{ end }}