{{ define "title" }}<title>Arkivi | {{ .title }}</title>{{ end }}
{{ define "content" }}
  <ul id="images" class="clearfix">
    {{ range $image := .images }}
      {{ template "image_thumb" $image }}
    {{ end }}
  </ul>
{{ end }}