{{ define "title" }}<title>Arkivi | chronology</title>{{ end }}
{{ define "content" }}
  <ul class="years">
    {{ range $year := .years }}
      {{ template "year" $year }} 
    {{ end }}
  </ul>
{{ end }}