{{ define "editor" }}
<div id="editor">
  <form class="row">
    <div class="col-sm-6">
      <input id="editor-title" type="text" name="title" placeholder="Title">
      <br>
      <input id="editor-name" type="text" name="name" placeholder="name"><span id="editor-ext"></span>
      <br>
      <textarea id="editor-description" name="description" placeholder="Description"></textarea>
    </div>
    <div class="col-sm-6">
    </div>
  </form>
</div>
{{ end }}