{{ define "title" }}<title>Arkivi | {{ .image.Title }}</title>{{ end }}
{{ define "content" }}
<div id="image-dates">
  <div class="row">
    <div class="col-sm-12">
      <span>Uploaded <i>{{ .image.CreatedAt | FormatDate }}</i></span>
      {{ if .image.TakenAt }}
        <span> and taken on <i>{{ .image.TakenAt | DerefDate | FormatDate }}</i></span>
      {{ end }}
    </div>
  </div>
</div>
{{ if not (eq .image.Description "") }}
  <div id="image-description">
    <div class="row">
      <div class="col-sm-12">
        <p>{{ .image.Description }}<p>
      </div>
    </div>
  </div>
{{ end }}
<div id="image-info">
  <div class="row">
    <div class="col-sm-6">
      <h2>Stats</h2>
      <ul class="image-stats">
        <li class="image-stat">
          <span><strong>Size:</strong> {{ .image.Size | NumBytesToSize }}</span>
        </li>
        <li class="image-stat">
          <span><strong>Type: </strong> {{ .image.Ext | ToUpper }}</span>
        </li>
        <li class="image-stat">
          <span><strong>Dimensions:</strong> {{ .image.Width }}x{{ .image.Height }}</span>
        </li>
        {{ if not (eq .image.Camera "") }}
          <li class="image-stat">
            <span><strong>Camera:</strong> {{ .image.Camera }}</span>
          </li>
        {{ end }}
        {{ if not (eq .image.Film "") }}
          <li class="image-stat">
            <span><strong>Film:</strong> {{ .image.Film }}</span>
          </li>
        {{ end }}
      </ul>
    </div>
    <div class="col-sm-6">
      <h2>Tags</h2>
      <ul id="image-tags">
        {{ range $i, $tag := .image.Tags }}
          <li class="image-tag"><span>+</span><a href="/tags/?filter={{ $tag.Name }}" title="{{ $tag.Name }}">{{ $tag.Name }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
{{ end }}