{{ define "month" }}
  <li class="month">
    <div class="row">
      <div class="col-xs-7">
        <a href="/chronology/{{ .Year }}/{{ .Month }}" title="{{ .Month }} - {{ .Year }}">
          <span>{{ .Month }} {{ .Year }}</span>
        </a>
      </div>
      <div class="col-xs-5 month-num-images">
        <span>
          {{ .NumImages }}
          {{ if eq .NumImages 1 }}
            image
          {{ else }}
            images
          {{ end }}
        </span>
      </div>
    </div>
  </li>
{{ end }}