{{ define "nav" }}
<nav class="{{ if .bottomNav }}bottombar{{ else }}topbar{{ end }}">
  <div class="container">
    <ul>
      <li><a href="/" title="time">chronology</a></li>
      <li><a href="/tags/" title="time">tags</a></li>
      <li><a href="/search/" title="search">search</a></li>
      <li><a href="/edit/" title="edit">edit</a></li>
      <li><a href="/upload/" title="upload">upload</a></li>
      <li id="nav-link-login"><a href="/login" title="login">login</a></li>
      <li id="nav-link-register"><a href="/register" title="register">register</a></li>
    </ul>
  </div>
</nav>
{{ end }}