{{ define "title" }}<title>Arkivi | register</title>{{ end }}
{{ define "content" }}
  <form id="register" action="/register" method="post">
    <label>Username:<br><input type="text" name="username"></label>
    <label>Password:<br><input type="password" name="password"></label>
    <label>Confirm Password:<br><input type="password" name="confirm"></label>
    <input class="float-right-submit" type="submit" value="Submit">
  </form>
{{ end }}
{{ define "scripts" }}
{{ end }}