{{ define "title" }}<title>Arkivi | {{ .title }}</title>{{ end }}
{{ define "content" }}
  <a href="/search/?tags={{ .namesStr }}" title="images tagged {{ .title }}">{{ .numImgs }} Images</a>
  <h2>Related Tags</h2>
  {{ template "tags_form" . }}
  <ul id="tags">
    {{ range .relTags }}
      <li>
        <div class="row">
          <div class="col-xs-8">
            <a href="/tags/{{ $.namesStr }},{{ .Name }}" title="images tagged with {{ $.title }}, and {{ .Name }}">
              {{ .Name }}
            </a>
          </div>
          <div class="col-xs-4 tags-count"><span>{{ .Count }} {{ if eq .Count 1 }}image{{ else }}images{{ end }}</span></div>
        </div>
      </li>
    {{ end }}
  </ul>
{{ end }}