{{ define "title" }}<title>Arkivi | tags</title>{{ end }}
{{ define "content" }}
  <div id="tags-form"></div>
{{ end }}
{{ define "scripts" }}
  <script src="/static/js/react.js"></script>
  <script src="/static/js/react-dom.js"></script>
  <script src="/static/js/utils.js"></script>
  <script src="/static/js/components.js"></script>
  <script src="/static/js/tags.js"></script>
{{ end }}