{{ define "title" }}<title>Arkivi | tags list</title>{{ end }}
{{ define "content" }}
  {{ template "tags_form" . }}
  <ul id="tags">
    {{ range .tags }}
      <li>
        <div class="row">
          <div class="col-xs-8">
            <a href="/tags/{{ .Name }}" title="images tagged with {{ .Name }}">
              {{ .Name }}
            </a>
          </div>
          <div class="col-xs-4 tags-count"><span>{{ .Count }} {{ if eq .Count 1 }}image{{ else }}images{{ end }}</span></div>
        </div>
      </li>
    {{ end }}
  </ul>
{{ end }}