{{ define "title" }}<title>Arkivi | upload</title>{{ end }}
{{ define "content" }}
{{ end }}
{{ define "scripts" }}
  <script src="/static/js/moment.min.js"></script>
  <script src="/static/js/immutable.min.js"></script>
  <script src="/static/js/react-with-addons.js"></script>
  <script src="/static/js/react-dom.js"></script>
  <script src="/static/js/pager.min.js"></script>
  <script src="/static/js/utils.js"></script>
  <script src="/static/js/auth.js"></script>
  <script src="/static/js/upload.js"></script>
{{ end }}