{{ define "title" }}<title>Arkivi | upload</title>{{ end }}
{{ define "content" }}
{{ end }}
{{ define "scripts" }}
  <script src="/static/js/react.js"></script>
  <script src="/static/js/react-dom.js"></script>
  <script src="/static/js/upload.js"></script>
{{ end }}