{{ define "year" }}
  <li class="year">
    <a href="/{{ .Year }}/" title="{{ .Year }}"><h3>{{ .Year }}</h3></a>
    <ul class="months">
      {{ range $month := .Months }}
        {{ template "month" $month }} 
      {{ end }}
    </ul>
  </li>
{{ end }}