* {
  box-sizing: border-box;
}
body, input {
  font-family: Inconsolata, monospace;
  color: #2B3046;
  margin: 0;
}
body.drag {
  background-color: white;
  transition: background-color 300ms;
}
body.dragover {
  background-color: #ccc;
}
a {
  color: #007CFF;
  text-decoration: underline;
}
a:visited {
  color: #007CFF;
}
a:hover {
  color: #007CFF;
}
input[type="submit"] {
  outline: none;
  border: 0;
  background-color: transparent;
  font-weight: normal;
  text-align: right;
  text-decoration: underline;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="checkbox"],
input[type="submit"] {
  outline: none;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  border-left: 0;
  max-width: 100%;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #ccc;
}
input[type="submit"] {
  border: none;
}
textarea {
  outline: none;
  width: 100%;
  border: 1px solid #ccc;
  max-width: 100%;
  padding: 5px 7px;
  font-size: 15px;
}
label {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
}
#content {
  margin: 0 auto;
}
.form-page {
  margin: 0 auto;
  max-width: 400px;
  padding: 0 15px;
}
.row {
  margin: 0;
}
.glyphicon {
  line-height: inherit;
}
.thumbnail {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}
.thumbnail.selected {
  border: 3px solid #007CFF;
}
/* #dropzone { */
/*   height: 100%; */
/*   position: absolute; */
/*   width: 100%; */
/*   margin-top: -60px; */
/*   background-color: white; */
/*   transition: background-color 300ms; */
/* } */
/* #dropzone.dragover { */
/*   background-color: #ccc; */
/* } */
.editor {
  position: relative;
  padding-left: 130px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
}
.editor div {
  padding: 0;
}
.editor .editor-submit {
  border: 0;
  padding: 15px 0 0;
  color: #91B459;
}
.editor .row > div:first-child {
  padding-right: 15px;
}
.editor .row > div:last-child {
  padding-left: 15px;
}
.tags-input {
  position: relative;
}
.tags-input .tags-suggestions {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
.tags-input .tags-suggestions ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  cursor: pointer;
}
.tags-input .tags-suggestions ul li {
  font-size: 16px;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.tags-input .tags-suggestions ul li:last-child {
  border-bottom: 0;
}
.tags-input .tags-suggestions ul li.highlighted-tag {
  background-color: #eee;
}
.preview.editing {
  height: auto;
  overflow: auto;
}
.spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
#upload-bar {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  padding: 39px 20px;
}
/* #upload-bar div:first-child { */
/*   text-align: left; */
/* } */
#upload-bar div {
  padding: 0;
  text-align: center;
}
#upload-bar > div {
  width: 100%;
}
/* #upload-bar div:last-child { */
/*   text-align: right; */
/* } */
#upload-bar .info-header {
  float: right;
  padding-right: 8px;
}
#upload-bar .info {
  font-weight: bold;
  float: left;
}
#action-bar {
  max-width: 800px;
  padding: 10px 0;
  margin: 0 auto;
  position: relative;
}
#action-bar div {
  text-align: center;
  padding: 0;
}
#action-bar input {
  
}
#action-bar input[type="checkbox"] {
  -webkit-appearance:none;
  width:20;
  height:20px;
  background: white;
  border-radius:3px;
  border: 2px solid #2B3046;
  outline:none;
  cursor: pointer;
}
#action-bar input[type="checkbox"]:checked {
  background: #2B3046;
}
#action-bar input[type="text"], #action-bar input[type="date"] {
  outline: none;
  font-size: 15px;
  padding: 0 5px;
  border: 1px solid #2B3046;
}
#action-bar .action-bar-checkbox-container {
  text-align: left;
}
#action-bar .action-bar-selected {
  font-size: 16px;
}
#action-bar .action-bar-primary,
#action-bar .action-bar-secondary {
  padding: 0 20px;
}
#action-bar .action-bar-primary select,
#action-bar .action-bar-secondary input {
  outline: none;
  height: 24px;
  border: 1px solid #2B3046;
  color: #2B3046;
  background: white;
  width: 100%;
}
#action-bar .tags-input .tags-suggestions {
  bottom: 20px;
}
#action-bar .action-bar-selected span {
  font-weight: bold;
}
#action-bar select {
  font-size: 15px;
  -webkit-appearance: menulist-button;
}
#action-bar form {
  margin: 0;
}
#action-bar .action-bar-submit {
  font-size: 18px;
  color: #007CFF;
  padding-right: 20px;
}
#action-bar .action-bar-primary {
  outline: none;
}
#placeholder {
  display: none;
  text-align: center;
  margin-top: 0px;
  top: 40%;
  position: absolute;
  width: 100%;
  /* border-bottom: 1px solid #2B3046; */
  /* border-left: 1px solid #2B3046; */
  /* border-right: 1px solid #2B3046; */
  z-index: -1;
  transition: margin-top 300ms;
}
#placeholder-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #eee;
  transition: width 300ms;
}
#placeholder.slide-away {
  margin-top: -101px;
  border-bottom: 0;
  border-top: 0;
}
#placeholder span {
  font-size: 18px;
  padding: 38px;
  display: inline-block;
}
#previews {
  list-style-type: none;
  max-width: 800px;
  position: relative;
  display: block;
  margin: 0 auto 60px;
  padding: 0;
}
#previews .more-buttons {
  text-align: center;
  padding: 60px;
}
#previews .more-buttons div {
  padding: 0;
}
#previews .more-buttons .more-button {
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
  color: #007CFF;
}
.preview {
  margin-top: 15px;
  background-color: white;
  position: relative;
}
.preview:first-child {
}
.preview:last-child {
  margin-bottom: 15px;
}
.preview .preview-img {
  overflow: hidden;
  position: absolute;
  z-index: 100;
  text-align: center;
}
.preview .preview-img a {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.preview .preview-img .dot-spinner {
  display: inline-block;
  font-size: 33px;
  padding: 26px;
}
.preview .preview-description {
  padding-left: 130px;
  padding-top: 12px;
  padding-bottom: 8px;
}
.preview .preview-name {
  font-size: 18px;
  padding: 0px;
}
.preview .preview-name * {
  text-overflow: ellipsis;
  max-width: 100%;
  padding-right: 20px;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
.preview .preview-delete {
  text-align: right;
  padding: 0 25px 0 0;
  font-size: 18px;
  color: #D23B66;
  cursor: pointer;
  text-decoration: underline;
}
.preview .preview-ext, .preview .preview-dim {
  display: inline-block;
  font-size: 18px;
  margin-top: 7px;
  width: 100%;
  text-align: left;
}
.preview .preview-ext {
  text-transform: uppercase;
}
.preview .preview-size {
  font-size: 25px;
  display: inline-block;
  position: relative;
}
.preview .preview-size-unit {
  display: inline-block;
  margin-left: 7px;
  position: relative;
  font-size: 16px;
}
.preview .preview-upload-progress {
  font-size: 23px;
  width: 100%;
  margin-top: 2px;
  padding-right: 20px;
  text-align: right;
  display: inline-block;
}
.preview .preview-edit {
  font-size: 18px;
  float: right;
  margin-right: 20px;
  margin-top: 2px;
  display: block;
  background-color: transparent;
  border: 0;
  outline: none;
  border-radius: 5px;
  text-decoration: underline;
  color: #9482E8;
}
.preview .preview-details {
  margin-top: 20px;
}
.preview .preview-details div {
  padding: 0;
}

/* images */
#images {
  list-style-type: none;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 820px;
  padding: 60px 20px;
}
.image-thumb {
  display: block;
  position: relative;
  margin: 15px;
  float: left;
}
.image-thumb a {
  height: 100%;
  width: 100%;
  display: block;
}
#image-frame {
  background-color: black;
  width: 100%;
  position: relative;
}
#image-frame img {
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 100%;
  max-height: 100vh;
}

.account-info {
  font-size: 16px;
}
.account-info #message {
  display: block;
  margin-top: 20px;
}

@media (max-width: 800px) {
}
@media (max-width: 768px) {
  .preview {
    border-radius: 0;
    max-width: none;
  }
}
@media (max-width: 675px) {
  body.drag {
    padding-top: 0px;
  }
  #dropzone {
    margin-top: 0px;
  }
  .editor {
    padding-left: 95px;
  }
  label {
    font-size: 15px;
  }
  input {
    font-size: 15px;
  }
  textarea {
    font-size: 12px;
  }
  .preview {
  }
  .preview .preview-details {
    margin-top: 12px;
  }
  .preview .preview-name {
    font-size: 16px;
  }
  .preview .preview-description {
    padding-top: 6px;
    padding-left: 95px;
    padding-bottom: 7px;
  }
  .preview .preview-size {
    font-size: 20px;
  }
  .preview .preview-img {
    height: 75px;
    width: 75px;
  }
  .preview .preview-progress-bar {
    padding-left: 75px;
  }
  .preview .preview-upload-progress {
    font-size: 18px;
  }
  .preview .preview-edit {
    font-size: 15px;
  }
  #placeholder.slide-away {
    margin-top: -76px;
  }
  #placeholder span {
    font-size: 16px;
    padding: 26px;
  }
  #previews .more-buttons {
    padding: 35px;
  }
  #previews .more-buttons .more-button {
    font-size: 16px;
  }
  .preview .preview-ext, .preview .preview-dim {
    font-size: 14px;
    margin-top: 5px
  }
  .preview .preview-img .dot-spinner {
    display: inline-block;
    font-size: 30px;
    padding: 16px;
  }
}
@media (max-width: 650px) {
  #upload-bar > div {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .editor .row > div {
    width: 100%;
  }
  .editor .row > div:first-child {
    padding-right: 0px;
  }
  .editor .row > div:last-child {
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  #action-bar {
    padding: 0 20px;
  }
  #action-bar .action-bar-submit {
    padding-right: 0px;
  }
  #action-bar .action-bar-primary {
    padding: 0 20px 0 0;
  }
  #action-bar .action-bar-secondary {
    padding: 0;
  }
  #action-bar form > .row > div {
    margin-top: 20px;
    width: 100%;
  }
  #action-bar .left {
    text-align: left;
  }
  #action-bar .right {
    text-align: right;
  }
  .preview .preview-ext {
    text-align: center;
  }
  .preview .preview-dim {
    display: none;
  }
}
@media (max-width: 400px) {
  .editor {
    padding-left: 20px;
  }
}