{{ define "base" }}
<html>
<head>
  {{ template "title" . }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpeg" href="/static/imgs/favicon.jpg?asdfd">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
  <div id="content">
    {{ template "content" . }}
  </div>
  {{ template "scripts" . }}
</body>
</html>
{{ end }}
// We define empty blocks for optional content so we don't have to
// define a block in child templates that don't need them
{{ define "scripts" }}{{ end }}
