{{ define "base" }}
<html>
<head>
  {{ template "title" . }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpeg" href="/static/imgs/favicon.png">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
  {{ template "image_frame" . }}
  {{ if not .bottomNav }}
    {{ template "nav" . }}
  {{ end }}
  <div id="content" class="{{ .containerClass | }}">
    {{ if .title }}
      <h1>{{ .title }}</h1>
    {{ end }}
    {{ if .error }}
      <div id="error"><span>{{ .error }}</span></div>
    {{ end }}
    {{ template "content" . }}
    {{ template "pager" . }}
  </div>
  {{ if .bottomNav }}
    {{ template "nav" . }}
  {{ end }}
  {{ template "scripts" . }}
</body>
</html>
{{ end }}
// We define empty blocks for optional content so we don't have to
// define a block in child templates that don't need them
{{ define "image_frame" }}{{ end }}
{{ define "nav" }}{{ end }}
{{ define "pager" }}{{ end }}
{{ define "scripts" }}{{ end }}
