{{ define "base" }}
<html>
<head>
  {{ template "title" . }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpeg" href="/static/imgs/favicon.jpg?asdfd">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
  {{ template "nav" . }}
  <div id="content" class="{{ .containerClass | }}">
    {{ if .title }}
      <h1>{{ .title }}</h1>
    {{ end }}
    {{ if .error }}
      <div id="error"><span>{{ .error }}</span></div>
    {{ end }}
    {{ template "content" . }}
    {{/* PAGINATION */}}
    {{ if .Page }}
      <nav><ul class="pagination">{{if not .Page.IsFirst -}}
            <li><a>First</a></li>
          {{- end -}}
          {{- if .Page.HasPrevious -}}
            <li><a>«</a></li>
          {{- end -}}
          {{- range .Page.Pages -}}
            <li class="{{if .IsCurrent}}active{{end}}">
              {{- if eq .Num -1 -}}
                <span>...</span>
              {{- else -}}
                <a>{{.Num}}</a>
              {{- end -}}
            </li>
          {{- end -}}
          {{- if .Page.HasNext -}}
            <li><a>»</a></li>
          {{- end -}}
          {{- if not .Page.IsLast -}}
            <li><a>Last</a></li>
          {{- end -}}
      </ul></nav>
    {{ end }}
  </div>
  {{ template "scripts" . }}
</body>
</html>
{{ end }}
// We define empty blocks for optional content so we don't have to
// define a block in child templates that don't need them
{{ define "nav" }}{{ end }}
{{ define "scripts" }}{{ end }}
